.main {
  width: 100%;
  display: none;
}

@media screen and (max-width: 1024px) {
  .main {
    height: 50px;
    background-color: rgb(247, 243, 243);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    /* padding: 0 5%; */
  }


.iconDiv {
  width: 200px;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 20px;
  padding: 10px 20px;
  margin-bottom: 30px;
}
.iconDiv:hover {
  width: 200px;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 20px;
  padding: 10px 20px;
  background-color: #d9f3d9;
  margin-bottom: 30px;
  border-radius: 5px;
}

.userIcon {
  color: #6a726c;
  font-size: 25px;
  margin: 0 20px 0 0;
}

.iconName {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  color: #6a726c;
}

}
