.main {
  width: 100%;
  display: flex;
}
.menu {
  width: 300px;
}
.rightDiv {
  width: calc(100% - 300px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.tableDiv {
  width: 90%;
}
.heading {
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  color: #6a726c;
  margin-bottom: 40px;
}
.optionBar {
  width: 100%;
  margin-bottom: 30px;
}
